<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354671414513-tc8ev6rhcbokogm0uibpjld03ot8r4rl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354671414513-tc8ev6rhcbokogm0uibpjld03ot8r4rl</string>
	<key>API_KEY</key>
	<string>AIzaSyAZeWaphPfVhueACubX6c8621VuKH3XbKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>354671414513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dime.Vincent</string>
	<key>PROJECT_ID</key>
	<string>vincent-c9e69</string>
	<key>STORAGE_BUCKET</key>
	<string>vincent-c9e69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354671414513:ios:8853e566e5aa080228ad50</string>
</dict>
</plist>